*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./picture/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
   
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.308);
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    transform: translate(0px,50%);
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin: 50px 50px;
    
    width: 300px;
    height: 300px;
}
form , input{
    background: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: auto;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}
form input[target= submit]{
    cursor: pointer;
    background-color: #016630;
    border: none;
    text-shadow: none;
}
form , label{
    background: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
   letter-spacing: 3px;
    color: white;
    text-shadow: 1px 3px black;
    font-family: 'Times New Roman', Times, serif;
}


.signIn{
    margin: 50px;
    padding-top: 100px;
    width: 20%;
    height: 300px;
}
.signIn button{
    cursor: pointer;
    background-color: #016630;
    color: wheat;
    border: none;
    
    margin:auto;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

.create{
    width: 80%;
    height: 80%;
    background-color: black;
    visibility: hidden;
    position: absolute  ;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.create button{
    position: absolute;
    margin: 20px;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
}
.container2{
    
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 50%;
    width: 50%;
    margin-top: -20px;
}
form{
    text-align: center;
}